
      <h2>Add New Recipe</h2>
      <%= form_with model: @recipe, url: user_recipes_path, method: :post,  local: true, scope: :recipe,data: { turbo: false }  do |form| %>
       
          <%= form.label :name %>
          <%= form.text_field :name, autofocus: true %>
      
       
          <%= form.label :description %>
          <%= form.text_field :description, autofocus: true %>
      
       
          <%= form.label :preparation_time %>
      
       
          <%= form.label :cooking_time %>
          <%= form.number_field :cooking_time, step: 0.1, autofocus: true %>
      
        <div>
          <div>
            <%= form.label :public %>
            <%= form.radio_button :public, true, :value => true, id:"country-option-2" %>
            <%= label :public, "True", value: true, :checked => true %>
            <%= label :public, "False", value: false %>
        
      
        <div>
          <%= form.submit "Save" %>
          <%= link_to 'Back', url_for(:back) %>
        </div>
      <% end %>
    </div>
  </div>
  <% if flash[:notice] %>
    <div><%= flash[:notice] %></div>
  <% end %>
</div>